Flask==0.9
Flask-Admin==1.0.5
Flask-KVSession==0.3.2
Flask-Login==0.1.3
Flask-Mail==0.8.2
Flask-OpenID==1.1.1
Flask-SQLAlchemy==0.16
Flask-WTF==0.8.3
Jinja2==2.11.3
urllib3==1.16
requests==1.0.3
Markdown==2.1.1
MarkupSafe==0.15
PyMeta==0.5.0
PyYAML==3.10
Pygments==1.4
SQLAlchemy==0.8.0
WTForms==1.0.3
Werkzeug==0.8.3
argparse==1.2.1
blinker==1.2
commando==0.1.2a
ipython==0.12
itsdangerous==0.24
pybars==0.0.1
#python-amazon-mws==0.2
git+git://github.com/czpython/python-amazon-mws.git@171c3750a4bb8c41c28a5ed678486eea8baedb1f
python-openid==2.2.5
simplekv==0.6
smartypants==1.6.0.3
gunicorn==19.6.0
psycopg2==2.5
python-binary-memcached==0.21
