{% extends "body_base.html" %}
{% block content %}
    <h1>Our Story</h1>

    <br />

    <img src="{{config.cache.get('settings')['img_about']}}" width="300" style="display : inline; float : left; margin : 0px 20px 10px 0px " />

    <p>After graduating from Appalachian State University in December 2011 and traveling abroad Alex Altman searched for a business opportunity that would impact the local community and have the potential to later impact an even larger community. The student population in the US has had to face exponential increases in tuition and overall costs of going to college in the face of a down economy. This is where Books of Alexander steps in.</p>

    <p>Additional research revealed the extent of the economic burden placed on students and a call to action was initiated. Alex’s brother Joel was invited to join him in building a new company to face these challenges. Joel Altman has worked in the IT industry since he graduated from Appalachian State University in 2007. After years of education and the bills that go along with being a student, Joel, jumped at the opportunity to help build Books of Alexander and drive student costs down.</p>

{% endblock %}
