{% extends "body_base.html" %}
{% block content %}
    <h1>Contact Information</h1>

    <br />

    <p>Please feel free to contact us if you have any problems, comments, insights, ideas, etc. We want to hear them to be able to provide the highest quality product to our customers.</p>

    <br />

    <dl class="dl-horizontal">
        <dt>Email:</dt> <dd>Booksofalexander@gmail.com</dd>
        <dt>Phone:</dt> <dd>919-590-9214</dd>
        <dt>Hours:</dt> <dd>9am-6pm</dd>

        <dt>Address:</dt>
            <dd>1009 Brendan Ct.</dd>
            <dd>Chapel Hill, NC</dd>
            <dd>27516</dd>
    </dl>

{% endblock %}
