{% extends "body_base.html" %}
{% block content %}

    <a name="top"></a>
    <h2 >
        Frequently Asked Questions
    </h2>
    <br />
    <p>
    If your question is not answered below, please contact us at booksofalexander@gmail.com
    </p>
    <br />
    <br />
    <h3 >
    <a href="#top5">Top 5 questions</a>
    </h3>
    <br />
    <ol>
        <li >
           Have my books arrived yet?
        </li>
        <li >
            Where’s the money?
        </li>
        <li >
            Do you buy collectibles or antiques?
        </li>
        <li >
            I entered a lot of ISBNs. Why are you not buying my books?
        </li>
        <li >
            How will I ship my books to booksofalexander?
        </li>
    </ol>
    <br />
    <h3 >
        <a href="#how_doesit_work">How does it work?</a>
    </h3>
    <br />
    <ul>
        <li >
            Are there any fees for selling my books?
        </li>
        <li >
            Will you buy more than one copy of the same book?
        </li>
        <li >
            I have a lot of books that I am selling. Will Booksofalexander take them?
        </li>    
    </ul>
    <br />
    <h3 >
        <a href="#types_of_books">What types of books do you buy?</a>
    </h3>
    <br />
    <ul>
        <li >
            What types of books do you buy?
        </li>
        <li >
            What types of books do you not buy?
        </li>
        <li >
            Do you buy audio books?
        </li>
        <li >
            What is an International Edition?
        </li>
        <li >
            Do you buy collectible books or offer appraisals?
        </li>
        <li >
            Do you buy books that don’t have an ISBN?
        </li>
        <li >
            Will you accept books in any condition?
        </li>
        <li >
            Will you purchase books with missing CDs, missing dust jackets, writing, underlining, and/or highlighting?
        </li>
        <li >
            Do you buy ex-library books?
        </li>
    </ul>
    <br />
    <h3 >
        <a href="#ISBN">ISBNs</a>
    </h3>
    <br />
    <ul>  
        <li >
            What is an ISBN number?
        </li>
        <li >
            Where do I find a book's ISBN number?
        </li>
        <li >
            What if my book does not have an ISBN?
        </li>
        <li >
            My book has more than one ISBN. Which one should I use?
        </li>
        <li >
            Why don't you buy all of my books?
        </li>
        <li >
            How do you decide which books to buy?
        </li>
        <li >
            How do you determine prices for books?
        </li>
    </ul>
    <br />
    <h3 >
        <a href="#shipping">How does the shipping work?</a>
    </h3>
    <br />
    <ul>
        <li >
            I am ready to send the books to you. What do I need to do?
        </li>
        <li >
            How long do I have to send the books in?
        </li>
        <li >
            Where can I get a box?
        </li>
        <li >
            Do I have to pay for shipping to get my books to you?
        </li>
        <li >
            What if I can’t print?
        </li>
        <li >
            How do I know what’s going on with my books?
        </li>
        <li >
            What if I forget the packing slip?
        </li>
        <li >
            What if you do not receive some of the books on the packing slip?
        </li>
        <li >
            What if I pack the wrong book or a different edition?
        </li>
        <li >
            What if I include books in the box that are not on the packing slip?
        </li>
        <li >
            Can I use a different shipping carrier?
        </li>
    </ul>
    <br />
    <h3 >
    <a href="#local">Local Pickup/Dropoff</a>
    </h3>
    <br />
    <ul>
        <li >
            How does local pickup work?
        </li>
        <li >
            How does local drop off work?
        </li>
        <li >
            What if a driver never shows up?
        </li>
        <li >
            What if I had to leave for an emergency?
        </li>
    </ul>
    <br />
    <h3 >
        <a href="#payment">Payment</a>
    </h3>
    <br />
    <ul>
        <li >
            How long does it take to get paid?
        </li>
        <li >
            How do I get paid?
        </li>
        <li >
            How does PayPal work?
        </li>
        <li >
            Why doesn't the amount that I was paid match my original Booksofalexander.com quote?
        </li>
        <li >
            Why don't you offer a premium for "New" or "Like New" books?
        </li>
        <li >
            I've lost or accidentally thrown away my check! What do I do?
        </li>
    </ul>
    <br />
    <h3 >
        <a href="#returns">Returning books</a>
    </h3>
    <br />
    <ul>
        <li >
            What happens if you do not accept my book; for example, because it is an International Edition, in poor condition, or missing a CD?
        </li>
    </ul>
    <h3 >
        <a href="#international">International Customers</a>
    </h3>
    <br />
    <h3 >
        <a href="#technical_issues">Technical problems</a>
    </h3>
    <hr/>
    <br />
    <h2 >
        Frequently Asked Questions
    </h2>
<h6><a href="#top">top</a></h6>
    <h3 >
        <a name="top5">Top 5 Questions</a>
    </h3>
    <h4 >
        Have my books arrived yet?
    </h4>
    The US Post Office takes 2-3 weeks. FedEx and UPS have a delivery time of usually less than one week. Please choose the FedEx or UPS shipping method if
    your shipment contains a minimum of $35 worth of books, to receive free tracking, free insurance, and a faster delivery.
    <br />
    We will send out a 'received' email notification as soon as your shipment is received.
    <br />
    <h4 >
        Where’s the money?
    </h4>
    After your books arrive and are inspected, payment is made within 3 business days.
    <br />
    <br />
    Do you buy collectibles or antiques?
    <br />
    We do not buy collectibles or antiques. A good place to sell your book is to someone in the Antiquarian Booksellers' Association of America (ABAA). To
    obtain its free directory of 461 booksellers, call (212) 944-8291 or visit online at <a href="http://www.abaa.org/">www.abaa.org</a>.
    <br />
    <h4 >
        Why are you not buying my books?
    </h4>
    We buy a wide variety of a lot of different books; however, most of the books we purchase have a publication date of 2009 or newer. What we buy can change
    day by day or week by week depending on resale values, our current inventory, demand, and other factors.
    <br />
    <h4 >
        How will I ship my books to booksofalexander.com?
    </h4>
    Shipping is FREE with our service. Your order should have a mailing label paid for by us that you print right from your computer. If it does not email us
    and we will resolve any issues.
    <br />
    <br />
    If you do not have a printer, simply send us an email with "Need Labels" as the subject preferably after you have submitted your books to sell, so that we
    know which labels to mail you: USPS, FedEx, or UPS labels.
    <br />
<h6><a href="#top">top</a></h6>
    <h2 >
       <a name="how_doesit_work">How does it work?</a>
    </h2>
    <h4 >
        Are there any fees for selling my books?
    </h4>
    No. Our service is free to use. We offer free price quotes, free shipping, and fast payment.
    <br />
    <br />
    Will you buy more than one copy of the same book?
    <br />
    Yes, but we do impose a maximum quantity per seller per week.
    <br />
    If you are a reseller and/or have large numbers of books that exceed the maximum quantity allowed, please send us an email we will be in contact with you.
    <br />
    <h4 >
        I have a lot of books that I want to sell. Will Boooksofalexander.com take them?
    </h4>
    We buy books in large quantities from wholesalers, distributors, schools, college bookstores, libraries and charities. We need to know the ISBNs and
    quantities of each title you are offering for sale.
    <br />
    If you already have your ISBN inventory in electronic format (Excel files work best) we'd be glad to compare it to our buying list and let you know what we
    are able to purchase. For larger orders, this may take a few business days. When necessary, we can arrange freight pick-ups for orders weighing over 600
    lbs. Please contact us for more details.
    <br />
<h6><a href="#top">top</a></h6>
    <h3 >
       <a name="types_of_books">What types of books do you buy?</a>
    </h3>
    <h4 >
        What types of books do you buy?
    </h4>
    We buy a wide variety of books. However, most of the books we purchase have a publication date of 2009 or newer.
    <br />
    <h4 >
        What types of books do you not buy?
    </h4>
    <br />
    <ul>
        <li >
            Missing or loose pages.
        </li>
        <li >
            Major wear to the binding.
        </li>
        <li >
            Tears to the cover or pages.
        </li>
        <li >
            Water, moisture damage, mold, or stains.
        </li>
        <li >
            Fire or smoke damage.
        </li>
        <li >
            Strong odor of any kind (including cigarette odor).
        </li>
        <li >
            Exceeds our maximum quantity of each ISBN.
        </li>
        <li >
            Custom edition textbooks (textbooks printed for a specific school).
        </li>
        <li >
            Items with no ISBN printed anywhere on or inside the item.
        </li>
        <li >
            Books that state "review copy", "free copy", "not for resale" (or "not for sale") anywhere on the cover or inside.
        </li>
        <li >
            Teacher's or Instructor's editions.
        </li>
    </ul>
    <br />
    <h4 >
        Do you buy audio books?
    </h4>
    Yes, we do buy books on CD (just enter the ISBN like any other paperback or hard cover). However, we do not purchase books on cassette tape.
    <br />
    <h4 >
        What is an International Edition?
    </h4>
    These are editions of textbooks which are printed and intended for sale in a non-US market. These books may have a different ISBN but usually have the same
    content as the US version. They are often bound with a soft cover and printed using lower quality materials. They usually have a statement such as
    "international edition" or "economy edition" and "Not for sale in the USA" somewhere on the cover. Booksofalexander.com does not buy International
    editions.
    <br />
    <h4 >
        Do you buy collectible books or offer appraisals?
    </h4>
    We do not buy collectibles or antiques. A good place to sell your book is to someone in the Antiquarian Booksellers' Association of America (ABAA). To
    obtain its free directory of 461 booksellers, call (212) 944-8291 or visit online at <a href="http://www.abaa.org/">www.abaa.org</a>.
    <br />
    <h4 >
        Do you buy books that don’t have an ISBN?
    </h4>
    No, we only purchase books that have an ISBN, and usually books that have been published within the last 5 years.
    <br />
    <h4 >
        Will you accept books in any condition?
    </h4>
    Books will not be accepted with any of the following:
    <br />
    <ul>
        <li >
            Fire or smoke damage
        </li>
        <li >
            Major wear to the binding
        </li>
        <li >
            Medium to large tears to the cover or pages
        </li>
        <li >
            Missing pages
        </li>
        <li >
            Strong odor of any kind (including cigarette odor)
        </li>
        <li >
            Water, moisture damage, or mold
        </li>
        <li >
            Workbooks or manuals with writing in them
        </li>
    </ul>
    <h4 >
        Will you purchase books with missing CDs, missing dust jackets, writing, underlining, and/or highlighting?
    </h4>
    If a book originally came with a dust jacket, CD or DVD, it must accompany the book when shipped to us or the quoted price may be reduced.
    <br />
    Other conditions that may result in a reduction of the quoted price:
    <br />
    <ul>
        <li >
            Excessive writing, underlining, and/or highlighting
        </li>
        <li >
            Remainder marks on page edges (publisher's overstock)
        </li>
    </ul>
    A small amount of writing, underlining or highlighting of pages is usually okay, as long as it is on fewer than 20% of the book's pages. However,
    workbooks, lab manuals, study guides, and books with practice tests will not be accepted if they contain writing. If a textbook originally came with a CD
    or DVD, the original CD/DVD must accompany the book when shipped to us. The CD/DVD must be in working condition. Computer manuals and language courses
    originally issued with a CD will not be accepted without.
    <br />
    Booksofalexandr reserves the right to determine item condition upon receipt in our warehouse. Items not accepted by Booksofalexander will only be shipped
    back to the Seller at the Seller's expense. Items not accepted will be held for 30 days; after that time, these items will be recycled or donated at our
    discretion.
    <br />
    <h4 >
        Do you buy ex-library books?
    </h4>
    No.
    <br />
<h6><a href="#top">top</a></h6>
    <h3 >
        <a name="ISBN">ISBNs</a>
    </h3>
    <h4 >
        What is an ISBN number?
    </h4>
    An ISBN is a 10 or 13 digit number that can be found on the back cover or inside the front cover of almost all books. You may enter the ISBN with or
    without the dashes, and don't leave off the leading zeros. Sometimes an ISBN can end with an X. Booksofalexander.com will accept either the 10-digit or the
    13-digit ISBN. Examples:
    <br />
    978-1-888799-97-2
    <br />
    1-888799-97-8
    <br />
    13-digit ISBNs should start with the numbers 978. Your book may have a 10-digit ISBN, or a 13-digit ISBN, or both (if your book has both, only enter the
    13-digit number).
    <br />
    <h4 >
        Where do I find a book's ISBN number?
    </h4>
    The ISBN is usually found on the back cover, immediately above the barcode.
    <br />
    If you cannot locate your book's ISBN on the outside of the book, open the front cover and look on the page immediately following the title page. This
    should be the copyright page and will include information about the copyright date, the author and publisher. The ISBN is a 10 or 13 digit number, and it
    should be in the middle or at the bottom of that page. If the book is pre-1970s, then it may not have an ISBN.
    <br />
    <h4 >
        What if my book does not have an ISBN?
    </h4>
    Sorry, but we do not purchase older books and/or collectibles without ISBN numbers.
    <br />
    <h4 >
        My book has more than one ISBN. Which one should I use?
    </h4>
    Please use the ISBN on the copyright page. If there are multiple ISBNs present on the copyright page, select the one that best describes the book. For
    example, if you are selling a paperback book, choose the ISBN marked as "pbk." or "paperback." Likewise, only select the "package" ISBN if your book
    includes all original, supplemental materials (e.g. CD-ROMs, unused online access codes, workbooks). If these items are not included, please use the "text
    only" ISBN.
    <br />
    Often times, bookstores may place their own sticker or unique ISBN on the back cover of a book. For this reason, always use the printed ISBN located on the
    copyright page.
    <br />
    Please be aware, if the ISBN on the order does not match the ISBN on the copyright page, the book may be removed or the price quote adjusted accordingly.
    <br />
    If you have any questions regarding ISBNs, please feel free to contact us.
    <br />
    <h4 >
        How do you decide which books to buy?
    </h4>
    We base our prospective purchases on supply and demand in the market. Our database is constantly changing.
    <br />
    How do you determine prices for books?
    <br />
    We constantly evaluate the market's supply and demand. This allows us to offer the best prices. We constantly update our database to insure you get the
    best prices possible for your books.
    <br />
    We keep our pricing simple and offer one quote for each book that meets, or exceeds, our Used Book Condition Policy. The price quotes are based on the
    assumption that your books range from very good to new condition, and that they meet all of our Used Book Condition Policy. We reserve the right to
    determine condition and may take deductions from the original price quote, if necessary.
    <br />
<h6><a href="#top">top</a></h6>
    <h3 >
        <a name="shipping">How does the shipping work?</a>
    </h3>
    <h4 >
        I want to send the books to you. What do I need to do?
    </h4>
    Once you submit your books to us, you should receive an email and instructions. Another way is to login to your Account, and print your label from there.
    <br />
    <h4 >
        How long do I have to send the books in?
    </h4>
    We ask that you ship your books to us as soon as possible. If you need to ship them more than 7 days after you completed the Checkout process, please
    contact us.
    <br />
    <h4 >
        Where can I get a box?
    </h4>
    There are several options. You can buy a new box from USPS or a supply store, or get a used box for free. (Don't forget that if it's a used box, it should
    still be sturdy and free from any address labels or residue that could damage your books!) Great sources for used boxes:
    <br />
    <ol>
        <li >
            Your local shopping mall - make sure to ask permission from the manager or security office
        </li>
        <li >
            The supermarket - ask which days they receive deliveries and catch the boxes before they are compacted for recycling
        </li>
        <li >
            Ask at individual retail stores, small businesses, doctor's offices - they are often more than willing to get rid of them
        </li>
        <li >
            Check free ads in your local craigslist.org or Recycler.com
        </li>
    </ol>
    <h4 >
        Do I have to pay for shipping to get my books to you?
    </h4>
    No. We will pay the shipping and provide instructions after you submit your books.
    <br />
    <h4 >
        What if I can’t print?
    </h4>
    If you are unable to print, then you have two options:
    <br />
    <ol>
        <li >
            We can mail you some shipping labels--just request them from us by visiting our contact us page and sending an email.
        </li>
        <li >
            Pay for shipping initially, then once we receive your books, we will issue you a shipping credit. Inside your package on a sheet of paper, write
            your order ID number. On the same piece of paper write "Please add a shipping credit." Once your box of books arrive, we will add a shipping credit
            to your order total. This amount will be the equivalent of USPS Media Mail rate, based on the weight of the books. If you do this, you may wish to
            ask for Media Mail at your Post Office.
        </li>
    </ol>
    <h4 >
        How do I know what’s going on with my books?
    </h4>
    We will send out a "received" email notification as soon as your shipment is received. Media Mail takes up to 14 business days whereas FedEx and UPS are
    much faster. Allow a few days for processing as well. Once your books arrive at our facility they will be inspected. You may also login to view the status
    of your shipments at any time by going to your account. After your books are inspected and marked as "processed", payment will be issued. Payment is
    initiated within 1-3 business days of "processed" status.
    <br />
    <h4 >
        What if I forget to include the packing slip?
    </h4>
    If you let us know, we will look up your shipment by your name or email when it arrives. As long as you put a return address on the package we should have
    no problems processing your books.
    <br />
    <h4 >
        What if I do not include some of the books on the packing slip?
    </h4>
    We will send out a "received" email notification and inform you about the missing titles and whether there was any damage to your package. We will hold
    your items and wait for your reply and after 14 days we will go ahead and process your book(s) as is.
    <br />
    <h4 >
        What if I pack the wrong books or a different edition?
    </h4>
    We will first check to see whether the items belong to another of your orders. If not and if we are buying the item, we will remove the previous item from
    your order and add the new edition or book. If we are not buying the items, we will hold them for 30 days; during this time you can pay for return shipping
    and this time we will recycle or donate the books.
    <br />
    <h4 >
        What if I include books in the box that are not on the packing slip?
    </h4>
    We ask sellers not to include books that are not on the packing slip. We will first check to see whether the items belong to another of your orders. If not
    and if we are buying the item, we will remove the previous item from your order and add the new edition or book. If we are not buying the items, we will
    hold them for 30 days; during this time you can pay for return shipping and after this time we will recycle or donate the books.
    <br />
    <h4 >
        Can I use a different shipping carrier?
    </h4>
    You may choose to use a different shipping carrier, we will only credit you the USPS Media Mail rates, based on the weight of the books. The books will be
    weighed on arrival.
    <br />
    <br />
    <br />
<h6><a href="#top">top</a></h6>
    <a name="local">Local pickup/dropoff</a>
    <br />
    How does local pickup work?
    <br />
    When you select local pickup/dropoff for your book exchange preference, we will contact you shortly through email or phone in order to arrange a time
    convenient to your schedule. We will wait two weeks to arrange the exchange and then cancel the transaction if it doesn’t happen. In some locals we will
    pick up locally from the students on campus or near the campus. You will have been told ahead of time and you must show up at one of the designated times
    and locations on or near your campus.
    <br />
    <br />
    How does local drop off work?
    <br />
    We encourage customers who are local to drop off their books. We do ask, however, that you complete the transaction on the website first and call ahead
    about an hour. We are a small company currently and want to make sure we have someone available for you. Our address is 1009 Brendan Ct. Chapel Hill NC
    27516
    <br />
    Office hours: Monday to Friday, 9:00 AM to 6:00 PM.
    <br />
    <br />
    What if the a driver never shows up?
    <br />
    This is extremely unlikely, we try to provide the absolute best service possible. It is possible a driver has a problem and we will contact you immediately
    and arrange another time to meet or send another driver to meet you as soon as we know.
    <br />
    <br />
    What if I had to leave for an emergency?
    <br />
    We would hope you would honor the time you have put together with us on the one hand on the other we understand things happen that we cannot predict. If no
    one is there when we arrive we will call to verify with you and follow up with an email to rearrange the meeting.
    <br />
    <a href="http://www.trimet.org/go/cgi-bin/plantrip.cgi?to=15370+SW+MILLIKAN+WAY,BE"></a>
    <br />
<h6><a href="#top">top</a></h6>
    <h3 >
        <a name="payment">Payment</a>
    </h3>
    <h4 >
        How long until I get paid?
    </h4>
    If you mail your books from a USPS Office using our pre-paid label, it can take 7-14 days for the books to arrive here. We will send out a "received" email
    notification as soon as your shipment is received. Once your books are received, they will be inspected. After your books are inspected and marked as
    "processed", payment will be issued. We will mail you a check, or pay you via PayPal, within 3 business days after we receive and process your book(s).
    <br />
    <h4 >
        How do I get paid?
    </h4>
    We will mail you a check, or pay you via PayPal, or if you are in an approved zip code you can get cash.
    <br />
    <h4 >
        How does PayPal work?
    </h4>

<p>
    PayPal allows you to receive money electronically and then transfer the money to a regular bank account (or you may keep the money in your PayPal account).
    All we need to send you money via PayPal is your email address. If you do not yet have a PayPal account, PayPal will send you instructions on how to set
    one up.
</p>
<p>
    When registering for an account with Booksofalexander.com, you are given the choice of a PayPal or check payment preference or cash. We encourage you to
    choose PayPal, as it is fast, convenient, and more secure than a check. Existing users may also choose to later change their payment preference to PayPal,
    by changing their preference in their account page.
</p>
<p>
    From PayPal's website: "With more than 40 million member accounts in over 45 countries worldwide, PayPal is the world's largest online payment service.
    PayPal makes sending money as easy as sending email! Any PayPal member can instantly and securely send money to anyone in the U.S. with an email address."
</p>
<h4 >
    Why doesn't the amount that I was paid match my original Booksofalexander quote?
</h4>
<p>
    Once books are received, they are inspected. If we receive a book that does not meet our Condition Policy, the quote price for that book may be deducted
    from your total payment. Books that we are unable to purchase are kept for 30 days, during which time they may be returned at the Seller's expense.
</p>
<br />
<h4 >
    Why don't you offer a premium for "New" or "Like New" books?
</h4>
<p>
    The two main reasons are time and efficiency. We have received a great deal of positive feedback for the ease of use of our site, and it has been designed
    for the purchase of buying used books. If you are a new book wholesaler or distributor and would like to establish a business relationship with us, please
    contact us.
</p>
<br />
<h4 >
    I've lost or accidentally thrown away my check! What do I do?
</h4>
<p>
    The best thing to do is to send us an email using the contact us form. Make sure you state that your check has been lost or misplaced and that you will
    need a new one. Be sure to also include the following:
</p>
<br />
<ul>
    <li >
        your name
    </li>
    <li >
        mailing address
    </li>
    <li >
        Order ID #
    </li>
    <li >
        amount of the check (if you know it)
    </li>
</ul>
<p>
    In most cases we are able to re-issue lost checks within a reasonable period of time.
</p>
<br />
<h6><a href="#top">top</a></h6>
<h3 >
   <a name="returns">Returning books</a>
</h3>
<h4 >
    What happens if you do not accept my book; for example, because it is an International Edition, in poor condition, or missing a CD?
</h4>
<p>
    Items not accepted by Booksofalexander.com will only be shipped back to the Seller at the Seller's expense. Items not accepted will be held for 30 days;
    after that time, these items will be recycled or donated at our discretion.
</p>
<br />
<p>
    <a name="international">International Customers</a>
</p>
<br />
<p>
    We do not accept books from outside the United States at this time. The cost of shipping internationally is simply too high.
</p>
<br />
<h3 >
    <a name="technical_issues">Technical problems</a>
</h3>
<p>
    Problems using the site? We work hard to bring you the best selling experience. If you are having a problem using our site, please let us know!
</p>
<br />
<p>
    Email or call 919-590-9214.
</p>

{% endblock %}
